.nav-tabs > li{
  float:none;
  display:inline-block;
  zoom:1;
  width: 49.8%;
}

.nav-tabs > li > a{
  font-size: 4vh;
}

.nav-tabs {
    text-align:center;
}

.tab-content {
  margin-left: 3vh;
  margin-right: 3vh;
  margin-top: 3vh;
}

.inputfield {
    height: 4vh;
}