.nav-tabs > li{
  float:none;
  display:inline-block;
  zoom:1;
  width: 49.8%;
}

.nav-tabs > li > a{
  font-size: 4vh;
}

.nav-tabs {
    text-align:center;
}

.tab-content {
  margin-left: 3vh;
  margin-right: 3vh;
  margin-top: 3vh;
}

input[type="text"] {
    font-size: 45px; 
}

input[type="number"] {
    margin-top: 1vh;
    font-size: 45px; 
}

textarea.form-control {
    font-size: 35px;
}