

.screen {
     height: 100%;
     background-color: powderblue;
     position: relative;
}

.top  {
     background-color: gray;
     height: 8vh;
}

.content {
     min-height: 100vh;
     background-color: white;
}

hr { 
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

#footer {
     position:absolute;
     bottom:0;
     background-color: gray;
     width:100%;
     height:59px;
}

.column {
  float: left;
  width: 50%;
  height:50.5px; 
  background-color: white;
}

.icon-bar {
  max-width: 100%; /* Full-width */
  min-height: 10vh;
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 25%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 72px; /* Increased font size */
  min-height: 100%;
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
  min-height: 100%;
}


/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 40px;
  width: 50%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
}

#Buying {background-color: red;}
#Selling {background-color: green;}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
}

.navbar{
  height: 8vh;
}

.navbar-nav {
    float:none;
    margin:0 0 0 0;
    width: 100%;
    display: block;
    text-align: center;
    height: 100%;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
    width: 33%;
    height: 100%;
}

li > a {
    height: 100%;
    margin: 0px;

}

li > a > i {
    margin-top: ;
    height: 100%;
    width: 100%;
    margin-top: 1vh;
}

li > a > i.fa {
    font-size: 4vh; 
}
